@import '../../styles/mixings.scss';

.header {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 10px 15px;
  align-items: center;
  background-color: var(--main-background);

  transition-duration: 0.3s;
  transition-timing-function: linear;

  @include media-breakpoint-between(xs, sm) {
    padding: 10px ​15px 0 15px;
  }

  @include media-breakpoint-between(sm, xxl) {
    padding: 10px ​15px 0 15px;
  }
}
